<div id="timesheets-index">
  <div class="row">
    <div class="col-xs-4">
      <%= link_to '<', "#{timesheets_path}/#{@timesheets_header[:prev_month_str]}", class: 'btn btn-lg btn-default' %>
      <%= link_to '>', "#{timesheets_path}/#{@timesheets_header[:next_month_str]}", class: 'btn btn-lg btn-default' %>
    </div>
    <div class="col-xs-4 text-center current-month">
      <%= hidden_field_tag 'target-year-month', params[:yyyymm] %>
      <%= @timesheets_header[:target_month] %>
    </div>
    <div class="col-xs-4 text-right">
      <%= link_to t('common.btn_new'), new_timesheet_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
  <div class="row timesheet-header">
    <div class="col-xs-2 text-center"><%= t('activerecord.attributes.timesheet.start_time_day') %></div>
    <div class="col-xs-2 text-center"><%= t('activerecord.attributes.timesheet.start_time') %></div>
    <div class="col-xs-2 text-center"><%= t('activerecord.attributes.timesheet.end_time') %></div>
    <div class="col-xs-2"></div>
    <div class="col-xs-4"></div>
  </div>
  <div id="timesheet-list"></div>

  <script id="timesheet-row-template" type="text/x-handlebars-template">
    {{#this}}
    <div class="row timesheet-detail">
      <div class="col-xs-2 text-center">{{day}}</div>
      <div class="col-xs-2 text-center">{{start_time_str}}</div>
      <div class="col-xs-2 text-center">{{end_time_str}}</div>
      <div class="col-xs-2"></div>
      <div class="col-xs-4 text-right">
        <%= link_to "#{timesheets_path}/#{params[:yyyymm]}/{{day}}/edit", class: "btn btn-sm btn-default" do %>
            <span class="glyphicon glyphicon-pencil"></span>
        <% end %>
        <%= link_to "#{timesheets_path}/{{id}}", method: :delete, class: "btn btn-sm btn-danger", style: "margin-left: 10px;" do %>
            <span class="glyphicon glyphicon-trash"></span>
        <% end %>
      </div>
    </div>
    {{/this}}
  </script>
</div>